* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rebeccapurple;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  /* background-color: lightblue; */
}
.header {
  text-align: center;
  padding: 10px 0;
  font-size: 1.5rem;
  color: burlywood;
}

input {
  height: 40px;
  width: 280px;
  /* border: none; */
  padding-left: 5px;
  font-size: 0.9rem;
  font-weight: 700;
}
.btn-add {
  height: 40px;
  width: 120px;
  background-color: yellowgreen;
  color: rgb(230, 237, 230);
  border: none;
  margin-left: 10px;
  font-weight: 700;
  font-size: 0.9rem;
}
.listItems {
  font-size: 1.6rem;
  background-color: rgb(224, 8, 206);
  color: rgb(242, 242, 241);
  text-align: start;
  margin-top: 15px;
  padding: 8px;
  width: 70%;
  border-radius: 10px;
}
.delete-btn {
  height: 40px;
  width: 120px;
  background-color: yellowgreen;
  color: rgb(230, 237, 230);
  border: none;
  font-weight: 700;
  font-size: 0.9rem;
  position: relative;
  left: 390px;
  top: -45px;
}
.deleteAll-btn {
  height: 40px;
  width: 120px;
  background-color: yellowgreen;
  color: rgb(230, 237, 230);
  border: none;
  font-weight: 700;
  font-size: 0.9rem;
  margin-left: 10px;
}
